.display-container{
  width: 100%;
  height: var(--nav-size);
  justify-content: center;
  align-items: center;
  display: flex;
}

.display{
  /* max-width: 480px;
  min-width: 320px; */
  height: 4.5em;
  font-size: .75em;
  border-radius: 1em;
  padding-left: 1em;
  padding-right: 1em;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
  background-color: #8f939a;
}

@media (max-width: 369px) {

  .display-container{
    height: calc(var(--nav-size)*2);
  }
  .display{
    max-width: 240px;
    min-width: none;
    padding: auto;
    height: 90px;
    flex-direction: column-reverse;
    padding-left: 0;
    padding-right: 0;
  }
  .display-left{
    height: 40%;
    left: 50%;
    transform: translate(-30%, 0%);
  }
  .display-right{
    height: 60%;
  }
  .progress{
    bottom: 2em;
  }
}

.display-left{
  display: flex;
  width: 50%;
}

.display-right{
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* overflow-x: hidden; */
}

/* @media (max-width: 440px){     use to fix music player as screen gets small
  .display{
    flex-direction: column-reverse;
    height: 9em
  }
} */

.player-button{
  --button-size: calc(var(--nav-size) * 0.5);
  width: fit-content;
  /* float: left; */
  margin-right: 5px;
  white-space: nowrap;
  height: var(--button-size);
  background-color: #484a4d;
  border-radius: 10%;
  padding: 1px;
  margin: 1px;
  display: flex;
  align-items: center;
  min-width: 50px;
  justify-content: center;
  transition: filter 300ms;
}

.player-button:hover{
  filter: brightness(1.2);
}

.screen{
  /* width: 90%; */
  width: 160px;
  height: 3em;
  font-size: .75em;
  white-space: nowrap;
  /* overflow-x: hidden;
  overflow-y: hidden; */
  overflow: hidden;
  border-radius: 1em;
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  background-color: #c7ccd4;
}

.song{
  font-weight: bold;
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.progress{
  position: sticky;
  height: 1em;
  width: 100;
  bottom: 0em;
  align-items: center;
  justify-content: center;
  }

  